# Laravel specific
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs

# Ignore environment files
.env
.env.*    # This ignores any .env.backup or .env.production etc



# Ignore IDE/editor folders
/.idea
/.vscode
/.phpstorm.meta.php

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore NPM/Yarn logs
npm-debug.log*
yarn-error.log*

# Ignore PHPUnit cache
.phpunit.result.cache
.phpunit.cache

# Ignore Homestead files if تستخدمها
Homestead.yaml
Homestead.json

# Ignore misc
/.phpactor.json
/.auth.json



# Ignore build files
/public/hot
/public/build
/public/mix-manifest.json

# Ignore Laravel Telescope (if used)
/storage/telescope

# Ignore deployment artifacts
/deploy.sh

# Ignore fleet files
/.fleet

# Ignore zed files
/.zed
